@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1649789243575') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e626";
}

.icon-aixin:before {
  content: "\eca1";
}

.icon-yonghuming:before {
  content: "\e612";
}

.icon-sousuo:before {
  content: "\e507";
}

.icon-gouwuche:before {
  content: "\e61b";
}

.icon-shoucang:before {
  content: "\e8b9";
}

